server:
  port: 8085

spring:
  application:
    name: apigateway

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    gateway:

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: flightservice
          uri: lb://FLIGHTSERVICE
          predicates:
            - Path=/flights/**
          filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin RETAIN_UNIQUE

        - id: bookingservice
          uri: lb://BOOKINGSERVICE
          predicates:
            - Path=/booking/**
          filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin RETAIN_UNIQUE

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
